# Build outputs
dist/
node_modules/

# macOS files
.DS_Store
**/.DS_Store

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Chrome extension debugging
debug.log